body{
   background: #e5e5e5; 
}

header h1{
    width: 248px;
    height: 44px;
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 0.12em;
    color: #ffffff;
    margin-top: 8px;
    margin-left: 21px;
}

header h2{
    width: 226px;
    height: 17px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 21px;
    margin-top: 5px;
}

header{
    width: 414px;
    height: 92px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
}

.pedido-aberto{
    display: block;
    width: 364px;
    height: 61px;
    border: 0px;
    border-radius: 50px;
    background: #cbcbcb;
    margin: 0 auto;
    margin-top: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    font-weight: normal;
}
.pedido-fechado{
    display: none;
    width: 364px;
    height: 61px;
    border: 0px;
    border-radius: 50px;
    background: #32B72F;
    margin: 0 auto;
    margin-top: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    font-weight: normal;
}

footer{
    width: 414px;
    height: 92px;
    background: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
}
.pratos{
    width: 414px;
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}
.pratos h1{
    width: 250px;
    height: 25px;
    font-family: Righteous;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-left: 19px;
    margin-bottom: 17px;
}
.item{
    width: 172px;
    height: 216px;
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 16px;
}

.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
}

.comidas{
    padding-left: 3px;
    padding-right: 19px;
    display: flex;
    overflow-x: scroll;
}

.item h2{
    width: 139px;
    height: 23px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-left: 15px;
    margin-top: 8px;
}

.item h3{
    width: 147px;
    height: 39px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
    margin-left: 14px;
    margin-top: 4px;
}

.item h4{
    width: 66px;
    height: 19px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 14px;
    margin-top: 5px;
}

.bebidas {
    width: 414px;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}
.bebidas h1{
    width: 250px;
    height: 25px;
    font-family: Righteous;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-left: 19px;
    margin-bottom: 17px;
}
.sobremesas {
    width: 414px;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 108px;
}
.sobremesas h1{
    width: 320px;
    height: 25px;
    font-family: Righteous;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-left: 19px;
    margin-bottom: 17px;
}

.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.caixa {
    position: fixed;
    width: 377px;
    height: 353px;
    top: calc(50% - 353px/2 - 0.5px);
    left: 19px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    z-index: 2;
}
.caixa h1{
    width: 376px;
    height: 27px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 28px;
}
.fundo {
    position: fixed;
    width: 414px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.prato-pedido{
    display: flex;
    justify-content: space-between;
}

.item-pedido{
    width: 172px;
    height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-left: 26px;
    margin-bottom: 13px;
}
.valor-pedido{
    width: 61px;
    height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-right: 25px;
    margin-bottom: 13px;
}
.total-pedido{
    display: flex;
    justify-content: space-between;
}
.valor-total{
    width: 97px;
    height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-right: 25px;
    margin-bottom: 24px;
}
.total{
    width: 73px;
    height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-left: 26px;
    margin-bottom: 24px;
}
.finalizar-pedido{
    width: 329px;
    height: 52px;
    margin-left: 24px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #50D074;
    
}
.cancelar{
    width: 333px;
    height: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #ffffff;
}
.tela-pedido{
    display: none;
}